/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face{
    font-family: "Inter Web";
    font-weight: 400;
    src: url("../Fonts/Inter-UI-Regular.woff2") format("woff2")
}

@font-face{
    font-family: "Inter Web";
    font-weight: 500;
    src: url("../Fonts/Inter-UI-Medium.woff2") format("woff2")
}

@font-face{
    font-family: "Inter Web";
    font-weight: 600;
    src: url("../Fonts/Inter-UI-Bold.woff2") format("woff2")
}

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* Global colors general */
    --global-color-alpha-light: #4F95FF;
    --global-color-alpha: #3385FF;
    --global-color-alpha-dark: #2E77E6;
    --global-color-alpha-x-dark: #1B4186;
    --global-color-alpha-x-transparent: #3385ff4d;

    /* Global colors error input landingpage*/
    --global-color-error: #FF3333;
    --global-color-error-transparent: #FF3333bf;

    /* Global colors Text*/
    --global-color-blueText:#00D3FF;
    --global-color-neutral-xxxxx-light: #FFFFFF;
    --global-color-neutral-xxxxx-dark: black;

    /* Global statbar*/
    --global-color-statbar:cyan;
    --global-color-powerlevel:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,239,255,1) 0%, rgba(0,92,255,1) 100%);

     /* Global colors Mainpage overlay*/
    --global-color-background-overlay: rgba(0,0,0, 0.9);
    --global-color-neutral-xxxx-dark: #0D2E68;

    /* Global colors types*/
    --global-color-type-neutral:#f1f1f1;
    --global-color-type-water:rgba(0,0,255, 0.7);
    --global-color-type-fire:rgba(255,0,0, 0.7);
    --global-color-type-grass: green;
    --global-color-type-electric: yellow;
    --global-color-type-ground: #b5651D;
    --global-color-type-rock: #654321;
    --global-color-type-steel: gray;
    --global-color-type-ice: var(--global-color-statbar);
    --global-color-type-psychic: hotpink;
    --global-color-type-poison: purple;
    --global-color-type-bug:#006400;
    --global-color-type-fairy:#FFB6C1;
    --global-color-type-ghost:#301934;
    --global-color-type-fighting: brown;
    --global-color-type-normal: var(--global-color-neutral-xxxxx-light);
    


    /* global page settings */
    --global-page-backgroundColorLandingpage: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(13,46,104,1) 100%);
    --global-page-backgroundColorMainpage: var(--global-color-neutral-xxxx-dark);
    --global-selection-backgroundColor: var(--global-color-alpha);

    /* border radius */
    --global-borderRadius-email: 0.625rem;
    --global-borderRadius-button: 1.5rem;
    --global-borderWidth: 0.0625rem;
    --global-bar-radius: 1rem;
    --global-bar-radius-md: 1.5rem;


    --global-border : 0.0625rem solid var(--global-color-neutral-xxxxx-light);

    /* transitions */
    --global-transitionEasing-out: ease-out;
    --global-transitionEasing-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
    --global-transitionDuration-alpha: .1s;
    --global-transitionDuration-beta: .2s;
    --global-transitionDuration-gamma: .3s;


     /* Baseline settings */
    --global-baseline-x10: 0.5rem;/* = 8px */
    --global-baseline-x15: 0.75rem; /* = 12px */
    --global-baseline-x20: 1rem; /* = 16px */
    --global-baseline-x30:1.5rem; /* = 24px */
    --global-baseline-x40:2rem; /* = 32px */
    --global-baseline-x50:2.5rem; /* = 40px */
    --global-baseline-x60:3rem; /* = 48px */
    --global-baseline-x80:4rem; /* = 64px */
    --global-baseline-x100:5rem; /* = 80px */
    --global-baseline-x120:6rem; /* = 96px */

    /* Font Sizes */
    --global-fz-sm-xx: var(--global-baseline-x10); /* = 8px */
    --global-fz-sm-x: calc(var(--global-baseline-x10)*1.25); /* = 10px */
    --global-fz-sm: var(--global-baseline-x15); /* = 12px */
    --global-fz-md: var(--global-baseline-x20); /* = 16px */
    --global-fz-lg: var(--global-baseline-x30); /* = 24px */

    /* Heights => for bars main app */
    --global-height-sm:var(--global-baseline-x10);/* = 8px */
    --global-height-md:var(--global-baseline-x15);/* = 12px */
    --global-height-md-x:var(--global-baseline-x20);/* = 16px */
    --global-height-lg:var(--global-baseline-x30);/* = 24px */
    --global-height-lg-x:var(--global-baseline-x40);/* = 32px */
    --global-height-lg-xx:var(--global-baseline-x50);/* = 40px */
    --global-height-lg-xxx:var(--global-baseline-x60);/* = 48px */

    /* Widths => for bars main app */
    --global-width-sm:var(--global-baseline-x10);/* = 8px */
    --global-width-md:var(--global-baseline-x15);/* = 12px */
    --global-width-md-x:var(--global-baseline-x20);/* = 16px */
    --global-width-lg:var(--global-baseline-x30);/* = 24px */
    --global-width-lg-x:var(--global-baseline-x40);/* = 32px */
    --global-width-lg-xx:var(--global-baseline-x50);/* = 40px */
    --global-width-lg-xxx:var(--global-baseline-x60);/* = 48px */



    --global-whitespace-md-plus4: calc(var(--global-baseline-x10) * 2.5); /* = 20px */         
    --global-whitespace: calc(var(--global-baseline-x10) * 3); /* = 24px */

    --global-whitespace-xs: calc(var(--global-baseline-x10) * .5); /* = 4px */
    --global-whitespace-sm: calc(var(--global-baseline-x10) * 1); /*  = 8px */
    --global-whitespace-md: calc(var(--global-baseline-x10) * 2); /*  = 16px */
    --global-whitespace-lg: calc(var(--global-baseline-x10) * 4); /*  = 32px */
    --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

    /* forms */
    --global-input-focus-boxShadowSpread: 0 0 0 0.1875rem;
    --global-input-focus-boxShadowColor: var(--global-color-alpha-x-transparent);
    --global-input-error-boxShadowColor: var(--global-color-error-x-transparent);
    --global-page-color: var(--global-color-neutral-xxxxx-light);
    --global-label-color: var(--global-color-neutral-xx-light);
    --global-placeholder-color: var(--global-color-neutral-dark);
    --global-input-backgroundColor: var(--global-color-neutral-xxxx-dark);
    --global-input-color: var(--global-color-neutral-xxxx-light);
    --global-input-borderColor: var(--global-input-backgroundColor);
    --global-input-hover-borderColor: var(--global-input-backgroundColor);
    --global-input-focus-borderColor: var(--global-input-backgroundColor);
    --global-input-focus-boxShadowColor: var(--global-color-alpha-light);
    --global-input-error-boxShadowColor: var(--global-color-error-transparent);
}


/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    background: var(--global-page-backgroundColorMainpage);
    color: var(--global-page-color);
    font-size: 16px;
    line-height: 1.5;
    font-family: "Inter Web", Helvetica, arial, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    min-height: 100vh;
}



*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: var(--global-selection-backgroundColor);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--global-selection-backgroundColor);
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 2.25rem;
    line-height: calc(var(--global-baseline-x10) * 6);
    margin: 0 0 var(--global-whitespace);
}

h2 {
    font-size: 2rem;
    line-height: calc(var(--global-baseline-x10) * 5);
    margin: 0 0 var(--global-whitespace);
}

h3 {
    font-size: 1.625rem;
    line-height: calc(var(--global-baseline-x10) * 4);
    margin: 0 0 var(--global-whitespace);
}

h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: calc(var(--global-baseline-x10) * 3);
    margin: 0 0 var(--global-whitespace);
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 var(--global-baseline-x10);
}

ul,
ol {
    padding-left: var(--global-whitespace);
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 1.5rem;
    line-height: calc(var(--global-baseline-x10) * 6);
    margin: 0 0 var(--global-whitespace);
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: calc(var(--global-baseline-x10) * 2);
    margin-top: var(--global-whitespace-xxs);
}

hr {
    border: 0;
    height: var(--global-borderWidth);
    background: LightGrey;
    margin: 0 0 var(--global-whitespace);
}

a {
    --link-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
    transition: var(--link-transition);
    color: var(--link-color, var(--global-color-alpha));
    outline-color: var(--link-boxShadowColor);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited {
    color: var(--link-visited-color, var(--global-color-alpha));
}

a:hover {
    color: var(--link-hover-color, var(--global-color-alpha-light));
}

a:active {
    color: var(--link-active-color, var(--global-color-alpha-dark));
}

a:focus {
    color: var(--link-focus-color, var(--global-color-alpha));
}

label,
input {
    display: block;
}

select {
    width: 100%;
}





/*==============================================================================================================================================================================================*/





/*#region Mainpage*/


/*#Credits to screen.css from labo's*/

.c-input:focus,
.c-input:active {
    border-color: transparent;
    box-shadow: var(--global-input-focus-boxShadowSpread) var(--input-focus-boxShadowColor, var(--global-input-focus-boxShadowColor));
}


.o-layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.o-layout__item {
    width: 100%;
    
}


.o-layout--align-center {
    align-items: center;
}


.o-layout--justify-center {
    justify-content: center;
}


.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
    height: 100%;
}


.o-row {
    position: relative;
    padding: var(--global-whitespace) var(--global-whitespace) 0;
}


.o-row--lg {
    padding-top: 48px;
}


/*========================== POKEMON OBJECT CREATED IN MAINPAGE.JS ========================*/

.c-app-pokemon{
    display: grid;
    grid-template-columns:1fr 6.5rem 6.5rem 1fr ;
    grid-template-rows: 1fr 9rem 7.5rem 4rem 1fr;
    column-gap: var(--global-whitespace-md);
    row-gap: var(--global-whitespace-md);
    margin-bottom: var(--global-whitespace-lg);
}

/*POKEMON IMAGE AND NAME*/

.c-pokemon{
    display: flex;
    grid-row:2;
    grid-column-start: 3;
    grid-column-start: span 4;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.c-sprite-pokemon{
    height: var(--global-baseline-x120);
    width: var(--global-baseline-x120);
}

.c-pokemon-name{
    font-size: var(--global-baseline-x15);
    font-weight: bold;

}

/*STATS: BASE STATS*/

.c-stats-1{
    grid-row: 3;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    width: 100%;

}

.u-stats-fz{
    font-size: calc(var(--global-fz-sm-x)*0.9);
}

.c-stats-2{
    grid-row: 3;
    grid-column: 3;
    align-self: center;
    justify-self: center;
    width: 100%;
}


/*STATS: POWER LEVEL*/

.c-powerlevel{
    display: flex;
    grid-row:4;
    grid-column: 2 / span 2;
    align-self: center;
    flex-direction: column;
    
}

.c-powerlevel-text{
    align-self: center;
    justify-self: center;
    margin-bottom: calc(var(--global-whitespace-sm)*1.2);
    font-size: 0.75rem;
}


/*STATS: LAYOUT*/

.u-progress_bar_color{
    background-color:var(--global-color-neutral-xxxxx-light);
    width: 100%;
    height: calc(var(--global-height-md)*1.2);
}

.c-progress_bar_powerlevel{
    background-color: var(--global-color-neutral-xxxxx-light);
    width: 100%;
    height: var(--global-height-lg);
}

.u-progress_bar_percentage_color{
    background-color: var(--global-color-statbar);
    height:calc(var(--global-height-md)*1.2);
}

.u-bar_radius{
    border-radius: var(--global-bar-radius);
    width:100%
}

.progress_bar_percentage_color_powerlevel{

    background: var(--global-color-powerlevel);
    height:var(--global-height-lg);

}

.u-bar_radius_powerlevel{
    border-radius: var(--global-bar-radius-md);
    width:100%
}

.u-stat-bar-margin-bottom{
    margin-bottom:var(--global-baseline-x10);
}

/*============================ NAVIGATION: SVG EN FILTER LIJST ==========================*/

/*POSITION NAVIGATION: FIXED*/
.c-nav-button{
    position: fixed;
    background: transparent;
    border:0;

    width:var(--global-width-lg-x);
    height:var(--global-height-lg-x);
    left:var(--global-baseline-x10);
    top:var(--global-baseline-x10);   
}



.c-nav-icon{
    height:var(--global-height-lg);
    width:var(--global-width-lg);
}

/*TITLE AND MOTTO*/
.c-title-app{
    font-size: calc(var(--global-fz-md)*1.2);
    font-weight: Bold;
}

.c-motto-app{
font-size: var(--global-fz-sm);
text-align: center;
}

/*LAYOUT OVERLAY FILTER*/
.overlay {
    min-height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--global-color-background-overlay);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 30;
    text-align: center;
  }
  
/*OVERLAY ITEMS*/

.overlay-content {
    position: relative;
    top: var(--global-baseline-x30);
    width: 100%;
    text-align: center;
  }

.overlay .closebtn {
    position: absolute;
    background:transparent;
    border:0;
    right: 0;
    width: var(--global-width-lg);
    height: var(--global-height-lg);
}

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
  
  
.overlay .o-water:hover{
    background-color:var(--global-color-type-water);
}

.overlay .o-fire:hover{
      background-color: var(--global-color-type-fire);
  }

.overlay .o-grass:hover{
    background-color: var(--global-color-type-grass);
}

.overlay .o-electric:hover{
    background-color: var(--global-color-type-electric);
    color:var(--global-color-neutral-xxxxx-dark);
}

.overlay .o-ground:hover{
    background-color: var(--global-color-type-ground);
}

.overlay .o-rock:hover{
    background-color: var(--global-color-type-rock); ;
    color:var(--global-color-neutral-xxxxx-light);
}

.overlay .o-steel:hover{
    background-color: var(--global-color-type-steel);
}

.overlay .o-dragon:hover{
    background-color: var(--global-color-alpha);
}

.overlay .o-ice:hover{
    background-color: var(--global-color-type-ice);
    color:var(--global-color-neutral-xxxxx-dark);
}

.overlay .o-psychic:hover{
    background-color: var(--global-color-type-psychic);
    color:var(--global-color-neutral-xxxxx-dark);
}

.overlay .o-poison:hover{
    background-color: var(--global-color-type-poison);
}

.overlay .o-bug:hover{
    background-color: var(--global-color-type-bug);
}

.overlay .o-fairy:hover{
    background-color:var(--global-color-type-fairy);
    color:var(--global-color-neutral-xxxxx-dark);
}

.overlay .o-ghost:hover{
    background-color: var(--global-color-type-ghost);
}

.overlay .o-fighting:hover{
    background-color: var(--global-color-type-fighting);
}

.overlay .o-normal:hover{
    background-color: var(--global-color-type-normal);
    color:var(--global-color-neutral-xxxxx-dark);
}

.c-close-icon{
    stroke:var(--global-color-neutral-xxxxx-light);
}
  

.c-type{
    font-size: calc(var(--global-fz-sm)*3/4);
    padding-top: calc(var(--global-baseline-x10)/2);
    padding-bottom: calc(var(--global-baseline-x10)/2);
}
  


/*============================= LOADER OBJECT AND ANIMATION ===========================*/

  .c-loader {
    border: var(--global-baseline-x10) solid var(--global-color-neutral-xxxxx-light); /* Light grey */
    border-top: var(--global-baseline-x10) solid var(--global-color-statbar); /* Blue */
    border-radius: 50%;
    width: var(--global-height-lg-xx);
    height: var(--global-width-lg-xx);
    animation: spin 2s linear infinite;
    margin-bottom: var(--global-baseline-x50);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .o-hide{
      opacity: 0;
  }

  .u-stat-bar-margin-bottom p{
        margin-bottom: 0.25rem;
  }


/*==================================== MEDIAQUERIES ====================================*/
@media(min-width:360px){
    .c-app-pokemon{
        display: grid;
        grid-template-columns:1fr 7rem 7rem 1fr ;
        grid-template-rows: 1fr 9rem 7.5rem 5rem 1fr;
        column-gap: var(--global-baseline-x20);
        row-gap: var(--global-baseline-x20);
        margin-bottom: var(--global-baseline-x40);
    }
    
    
    .c-sprite-pokemon{
        height: var(--global-baseline-x120);
        width: var(--global-baseline-x120);
    }
    
    .c-pokemon-name{
        font-size: var(--global-fz-sm);
    }
    
    /*STATS: BASE STATS POSITION*/

    
    .u-stats-fz{
        font-size: var(--global-fz-sm-x)
    }
    
    
    
    /*============================ NAVIGATION: SVG EN FILTER LIJST ==========================*/
    
    /*POSITION NAVIGATION: FIXED*/
    .c-nav-button{
        width: var(--global-width-lg-xx);
        height: var(--global-height-lg-xx);
        left:var(--global-baseline-x10);
        top:var(--global-baseline-x10);
    }

    .c-nav-icon{
        height:var(--global-height-lg-xx);
        width:var(--global-width-lg-xx);
    }
    
    
    
    /*TITLE AND MOTTO*/
    .c-title-app{
        font-size: var(--global-fz-lg)
    }
    
    .c-motto-app{
    font-size: calc(var(--global-fz-md)*0.9)
    }

    .overlay-content {
        top: var(--global-baseline-x40);
      }


    .overlay .closebtn {
        position: absolute;
        right: calc(var(--global-baseline-x10)/2);
        top:calc(var(--global-baseline-x10)/2);
        width: var(--global-baseline-x40);
        height: var(--global-baseline-x40);
      }

    .c-close-icon{
        height: var(--global-baseline-x20);
        width: var(--global-baseline-x20);
    }
      
    
      .c-type{
          font-size: var(--global-baseline-x15);
      }
    
    
    

}

@media(min-width:720px){
    .c-app-pokemon{
        display: grid;
        grid-template-columns:1fr 12rem 12rem 1fr ;
        grid-template-rows: 1fr 12rem 12rem 7rem 1fr;

    }
    
    
    .c-sprite-pokemon{
        height: calc(var(--global-baseline-x100)*1.75);
        width: calc(var(--global-baseline-x100)*1.75);
    }
    
    .c-pokemon-name{
        font-size: var(--global-fz-md);
    }
    
    .u-stats-fz{
        font-size: var(--global-fz-md)
    }
    
    /*STATS: LAYOUT*/

    .u-progress_bar_color{
        height: var(--global-height-lg);
    }

    .c-progress_bar_powerlevel{
        height: var(--global-height-lg-xx);
    }

    .u-progress_bar_percentage_color{
        height:var(--global-height-lg);

    }

    .progress_bar_percentage_color_powerlevel{
        height:var(--global-height-lg-xx);
    }

    .c-powerlevel-text{
        margin-bottom: var(--global-whitespace-md);
        font-size: calc(var(--global-fz-md)*1.2);
    }

    .u-stat-bar-margin-bottom{
        margin-bottom:var(--global-baseline-x15);
    }

    
    
    /*============================ NAVIGATION: SVG EN FILTER LIJST ==========================*/
    
    /*POSITION NAVIGATION: FIXED*/
    .c-nav-button{
        width: calc(var(--global-width-sm)*7);
        height: calc(var(--global-height-sm)*7);
        left:var(--global-baseline-x15);

    }
    
    .c-nav-icon{
        width: calc(var(--global-width-sm)*7);
        height: calc(var(--global-height-sm)*7);
    }
    
    /*TITLE AND MOTTO*/
    .c-title-app{
        font-size: calc(var(--global-fz-lg)*1.5);
    }
    
    .c-motto-app{
    font-size: var(--global-fz-lg);
    }

    .overlay-content {
        position: relative;
        top: var(--global-baseline-x60);
        width: 100%;
        text-align: center;
      }


    .overlay .closebtn {
        position: absolute;
        right: var(--global-baseline-x10);
        top:var(--global-baseline-x10);
        width: var(--global-width-lg-xx);
        height: var(--global-height-lg-xx);
      }

    .c-close-icon{
        height: var(--global-height-lg);
        width: var(--global-width-lg);
    }
      
    
      .c-type{
          font-size: var(--global-fz-md);
          padding-top: var(--global-baseline-x10);
          padding-bottom: var(--global-baseline-x10);
          
    }

    .c-loader {
        width: calc(var(--global-width-lg-x)*2);
        height: calc(var(--global-height-lg-x)*2);
      }

}

@media(min-width:1024px){
    .o-row--lg{
        padding-bottom: var(--global-baseline-x60);
    }

    .o-container{
        margin-bottom: var(--global-baseline-x80);

    }    
    
    .c-app-pokemon{
        display: grid;
        grid-template-columns:1fr 10rem 16rem 16rem 1fr ;
        grid-template-rows: 1fr 18rem 9rem 1fr;
        margin-bottom: 7.5rem;
        column-gap: var(--global-baseline-x40);

    }
    
    /*POKEMON IMAGE AND NAME*/
    
    .c-pokemon{
        display: flex;
        grid-row:2;
        grid-column-start: 2;
        margin: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .c-sprite-pokemon{
        height: calc(var(--global-height-lg-xx)*4);
        width: calc(var(--global-height-lg-xx)*4);
    }
    
    .c-pokemon-name{
        font-size: calc(var(--global-fz-md)*1.3);
    }
    
    /*STATS: BASE STATS POSITION*/
    
    .c-stats-1{
        grid-row: 2;
        grid-column: 3;
    }
    
    .u-stats-fz{
        font-size: calc(var(--global-fz-md)*1.3);
    }

    .c-stats-2{
        grid-row: 2;
        grid-column: 4;
    }

    
    /*STATS: POWER LEVEL: POSITION*/
    
    .c-powerlevel{
        grid-row:3;
        grid-column: 2 / span 3;
    }
    
    .c-powerlevel-text{
        font-size: calc(var(--global-fz-md)*1.5);
    }
    
    .u-stat-bar-margin-bottom{
        margin-bottom:calc(var(--global-baseline-x10)*1.5);
    }
    
    /*STATS: LAYOUT*/
    
    .u-progress_bar_color{
        height: calc(var(--global-height-lg)*1.5);
    }

    .u-progress_bar_percentage_color{
        height:calc(var(--global-height-lg)*1.5);
    }
    
    .c-progress_bar_powerlevel{
        height: calc(var(--global-height-lg-xx)*1.5);
    }

    .progress_bar_percentage_color_powerlevel{
        height:calc(var(--global-height-lg-xx)*1.5);
    }
    

    
    /*============================ NAVIGATION: SVG EN FILTER LIJST ==========================*/
    
    /*POSITION NAVIGATION: FIXED*/
    .c-nav-button{
        width: calc(var(--global-width-lg-x)*2);
        height: calc(var(--global-height-lg-x)*2);
        left: calc(var(--global-baseline-x20)*1.2);  
        top: calc(var(--global-baseline-x20)*1);  ;
    }

    .c-nav-icon{
        height:calc(var(--global-height-lg-x)*1.75);
        width:calc(var(--global-width-lg-x)*1.75);
    }

    
    /*TITLE AND MOTTO*/
    .c-title-app{
        font-size: calc(var(--global-fz-md)*3)
    }
    
    .c-motto-app{
    font-size: calc(var(--global-fz-md)*2)
    }

      
    /*OVERLAY ITEMS*/


    .overlay-content {
        top: calc(var(--global-baseline-x60)*1.2);
      }
      
    
      .c-type{
        font-size: calc(var(--global-fz-sm)*1.75);
        }

      .overlay .closebtn {
        position: absolute;
        right: var(--global-baseline-x30);
        top:var(--global-baseline-x15);
        width: var(--global-width-lg-xx);
        height: var(--global-height-lg-xx);
      }

    .c-close-icon{
        height: calc(var(--global-height-lg)*1.5);
        width: cacl(var(--global-width-lg)*1.5);
    }
      
    .c-loader {
        width: calc(var(--global-width-lg-x)*2);
        height: calc(var(--global-height-lg-x)*2);
      }

      .u-bar_radius_powerlevel{
        border-radius: calc(var(--global-bar-radius-md)*2);
        width:100%
    }

    

}

@media(min-width:1440px){
 
    
    .c-app-pokemon{
        display: grid;
        grid-template-columns:1fr 15rem 20rem 20rem 1fr ;
        grid-template-rows: 1fr 18rem 8rem 1fr;
        column-gap: var(--global-baseline-x40);
        row-gap: var(--global-baseline-x40);

    }
    
    /*POKEMON IMAGE AND NAME*/

    
    .c-sprite-pokemon{
        height: calc(var(--global-height-lg-xx)*5);
        width: calc(var(--global-width-lg-xx)*5);
    }
    
    .c-pokemon-name{
        font-size: calc(var(--global-fz-md)*1.25)
    }
    
    /*STATS: BASE STATS POSITION*/
    
    
    .u-stats-fz{
        font-size: calc(var(--global-fz-md)*1.25)
    }

    .u-stat-bar-margin-bottom{
        margin-bottom:var(--global-baseline-x20);
    }
    
    
    /*STATS: POWER LEVEL*/
    
    
    .c-powerlevel-text{

        margin-bottom: var(--global-baseline-x20);
        font-size: calc(var(--global-fz-md)*1.5)
    }
    

    /*============================ NAVIGATION: SVG EN FILTER LIJST ==========================*/
    

    .c-nav-button{
        width: calc(var(--global-width-lg-x)*2.5);
        height: calc(var(--global-height-lg-x)*2.5);
        left: calc(var(--global-baseline-x20)*1.5);  
    }

    .c-nav-icon{
        height:calc(var(--global-height-lg-x)*2);
        width:calc(var(--global-width-lg-x)*2);
    }


    
    
    .overlay .closebtn {
        top:var(--global-baseline-x10);
        width: calc(var(--global-width-lg-x)*2);
        height: calc(var(--global-height-lg-x)*2);
      }


      .o-container{
          margin-bottom: var(--global-baseline-x120);
      }

      .c-type{
        font-size: calc(var(--global-fz-sm)*1.75);
    }

    .overlay-content {
        top: var(--global-baseline-x100);

      }
      

}

/*#endregion Mainpage*/


/*#region LandingPage */


/*================================ LANDINGPAGE: GRID =================================*/


.c-landingpage{
    display:grid;
    grid-template-columns: auto 16rem auto;
    grid-template-rows:1fr 4rem 10rem 5rem 25rem 1fr;
    row-gap: var(--global-baseline-x40)
}


.o-smartphone{
      grid-column:2;
      grid-row:5;

      height: 25rem;
      justify-self: center;
  }

.c-title-icon-text{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end:2;
    justify-content: center;
    align-self: center;
    margin:0

}

.c-text{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start: 3;
    grid-row-end:3;
}

.c-email{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start: 4;
    grid-row-end:4;

    align-self: center;
}

/*================================== BACKGROUND PAGE ================================*/
.LandingPage_html_background{
    background: var(--global-page-backgroundColorLandingpage);
  }
 
/*================================ TITLE: POKEBALL SVG ==============================*/

  .c-pokeball{
      height:var(--global-height-lg-xx);
      width:var(--global-width-lg-xx);
  }

/*==================================== TITLE: TEXT ==================================*/

  .c-title-text{
      font-size: var(--global-fz-lg);
      margin-bottom: 0;
      margin-left:var(--global-baseline-x10);
      align-self: center;
  }

  .c-title{
      margin-bottom:var(--global-whitespace-md)
  }

/*===================================== BODY: TEXT ===================================*/

.c-text-mb{
    margin-bottom:var(--global-whitespace-md);
}

.c-white-text-lg{
    font-size: var(--global-fz-sm);
    line-height: var(--global-baseline-x30);
    font-weight: bold;
}

.c-cyan-text-sm{
    font-size: calc(var(--global-fz-sm-xx)*1.2);
    line-height: var(--global-baseline-x20);
    color:var(--global-color-blueText);
}

.c-white-text-sm{
    font-size: calc(var(--global-fz-sm-xx)*1.2);
    line-height:  var(--global-baseline-x20);
    font-weight: bold; ;

}

.u-center-text{
    text-align: center;
}


/*================================== BODY: EMAIL INPUT===============================*/
.c-form-field {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
.c-form-field--option {
    display: flex;
    align-items: center;
  }
  
.c-form-field-option-center {
    display: flex;
    justify-content: center;
  }


.c-label-email{
    font-size: calc(var(--global-fz-sm-xx)*1.3);
}

.o-layout-email-input{
    width:100%;
    height: var(--global-baseline-x10);
    margin-bottom: var(--global-whitespace-md);
    border-radius: calc(var(--global-borderRadius-email)/1.5);
    border: var(--global-border);
    padding: var(--global-whitespace-md); 
    background-color: transparent;
    text-align: center; 
    font-weight: bold;
    outline: none;
}



/*------------------------------------*\
#States
\*------------------------------------*/

.has-error {
    --label-color: var(--global-color-error);
    --input-borderColor: var(--global-input-error-borderColor);
    --input-hover-borderColor: var(--global-input-error-borderColor);
    --input-focus-borderColor: var(--global-input-error-borderColor);
    --input-focus-boxShadowColor: var(--global-input-error-boxShadowColor);
}



.c-input{
    color:var(--global-color-neutral-xxxxx-light);
    font-size: 0.65rem;
    width: 16rem;
}

input::placeholder{
    color:var(--global-color-neutral-xxxxx-light);
    opacity: 75%;

}

/* FLOATING LABEL*/

.c-label-floating {
    position: absolute;
    top:calc(var(--global-whitespace-sm)/4*3);
    padding: var(--global-whitespace-xs) var(--global-whitespace-sm);
    will-change: transform;
    transform: translateY(0);
    transition: transform 200ms ease-in-out;
    background: transparent;
  }

.c-form-field:focus-within .c-label-floating,
.c-label-floating.is-floating {
  transform: translateY(-2rem);
}

/* MAKES ERROR MESSAGE DISAPPEAR*/
.u-none{
    display:none;
}

/*================================ BODY: EMAIL BUTTON=================================*/

.c-button {
    font-size: calc(var(--global-baseline-x10)*1.3);
    font-weight: 600;
    border-radius: var(--global-borderRadius-button);
    border: none;
    background-color: var(--global-color-neutral-xxxxx-light);
    color: var(--global-color-neutral-xxxxx-dark);
    padding:calc(var(--global-whitespace-sm)/2) var(--global-whitespace);
    line-height: calc(var(--global-baseline-x10) * 3);
    width: 100%;
    outline: none;
    box-shadow: var(--button-boxShadow, 0);
    transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
}

.c-button:hover {
    background-color: var(--global-color-alpha-light)
}

.c-button:focus {
    background-color: var(--global-color-alpha-light);
    box-shadow: var(--global-input-focus-boxShadowSpread) var(--global-input-focus-boxShadowColor);
    color:var(--global-color-neutral-xxxxx-light);
}

.c-button:active {
    background-color: var(--global-color-alpha-dark);

}

.o-layout-button_email{
    text-align: center;
    text-decoration: none;
    margin:auto;

}



/*============================================================ MEDIA QUERIES VOOR LANDING PAGE ==================================================================*/

@media(min-width:420px){

     /*============================== LANDINGPAGE: GRID ===============================*/

    .c-landingpage{
        display:grid;
        grid-template-columns: auto 25rem auto;
        grid-template-rows:1fr 5rem 16rem 8rem 35rem 1fr;
        row-gap: var(--global-baseline-x60);
    }

    /*==================================== POKEBALL ===================================*/
    .c-pokeball{
        height:calc(var(--global-height-lg-x)*2);
        width:calc(var(--global-width-lg-x)*2)
    }
  
  /*==================================== TITLE: TEXT ==================================*/
  
    .c-title-text{
        font-size: calc(var(--global-fz-md)*2);
        margin-left:var(--global-baseline-x15);

    }

  /*===================================== BODY: TEXT ===================================*/
  
  .c-text-mb{
      margin-bottom:var(--global-baseline-x30)
  }
  
  .c-white-text-lg{
      font-size: calc(var(--global-fz-md)*1.25);
      line-height: var(--global-baseline-x40);
  }
  
  .c-cyan-text-sm{
      font-size: var(--global-fz-md);
      line-height: var(--global-baseline-x30);
  }
  
  .c-white-text-sm{
      font-size: var(--global-fz-md);
      line-height: var(--global-baseline-x30);
  }

  
  /*================================== BODY: EMAIL INPUT===============================*/
    
  .c-label-email{
      font-size: var(--global-fz-md);
  }
  
  .o-layout-email-input{
      width:24rem;
      height: var(--global-height-lg-xxx);
      margin-bottom: calc(var(--global-whitespace-md)*1.5);
      padding: var(--global-whitespace-md); 
      border-radius: calc(var(--global-borderRadius-email));
  }

  .c-input{
    font-size: var(--global-fz-md);
    width: 24rem;
}
  
  
  /* FLOATING LABEL*/
  .c-label-floating {
    top:calc(var(--global-whitespace-sm)*1.1);

  }
  .c-form-field:focus-within .c-label-floating,
  .c-label-floating.is-floating {
    transform: translateY(-3rem);
  }
  
  
  /*================================ BODY: EMAIL BUTTON=================================*/
  
  .c-button {
      font-size: var(--global-fz-md);
  }


  .o-layout-button_email{
      padding:calc(var(--global-whitespace-sm)*1.5) calc(var(--global-whitespace)*1.5);
  }
  
 
  .o-smartphone{
        height: 35rem;
    }
}

@media(min-width:920px){

    .c-landingpage{
        display:grid;
        grid-template-columns: auto 48rem auto;
        grid-template-rows:1fr 9rem 24rem 10rem 64rem 1fr;
        row-gap: var(--global-baseline-x120);
    }



    .c-pokeball{
        height:var(--global-baseline-x120);
        width:var(--global-baseline-x120);
    }
  
  /*==================================== TITLE: TEXT ==================================*/
  
    .c-title-text{
        font-size: var(--global-baseline-x60);

        margin-left:var(--global-baseline-x30);
        align-self: center;
    }

  /*===================================== BODY: TEXT ===================================*/
  
  .c-text-mb{
      margin-bottom:var(--global-whitespace-xl);
  }
  
  .c-white-text-lg{
      font-size: calc(var(--global-fz-md)*2);
      line-height: var(--global-baseline-x60);
  }
  
  .c-cyan-text-sm{
      font-size: var(--global-fz-lg);
      line-height: calc(var(--global-baseline-x15)*3);
  }
  
  .c-white-text-sm{
      font-size: var(--global-fz-lg);
      line-height: calc(var(--global-baseline-x15)*3);
  }

  
  /*================================== BODY: EMAIL INPUT===============================*/
    
  .c-label-email{
      font-size: 1.5rem;
  }
  
  .o-layout-email-input{
    height: 4.5rem;
    margin-bottom: calc(var(--global-whitespace-lg)*1.3);
    border-radius: calc(var(--global-borderRadius-email)*1.2);
    border: var(--global-border);
    padding: var(--global-whitespace-md); 
    background-color: transparent;
    text-align: center; 
    font-weight: bold;
    outline: none;
  }

  .c-input{
    font-size: var(--global-fz-lg);
    width: 40rem;
}
  
  
  /* FLOATING LABEL*/
  
  .c-label-floating {
      position: absolute;
      top:var(--global-baseline-x20);
      padding: var(--global-whitespace-xs) var(--global-whitespace-md);
    }
  
  .c-form-field:focus-within .c-label-floating,
  .c-label-floating.is-floating {
    transform: translateY(-4.5rem);
  }
  
  
  /*================================ BODY: EMAIL BUTTON=================================*/
  
  .c-button {
    font-size: var(--global-fz-lg);
  }


  .o-layout-button_email{
      padding: calc(var(--global-whitespace-sm)*3) var(--global-whitespace-xl);
      border-radius: 3rem;
  }
  
  .o-smartphone{
    height: 64rem;
}
  

}

@media(min-width:1480px){

     /*================================ LANDINGPAGE: GRID =================================*/
  
  
  .c-landingpage{
      display:grid;
      grid-template-columns: auto 36rem 36rem auto;
      grid-template-rows:1fr 10rem 16rem 10rem 1fr;
      row-gap: 3rem;
      column-gap: 1rem;
      min-height: 100vh;
  }
  
  
  .o-smartphone{
        height: 44rem;
        grid-column:3;
        grid-row-start: 2;
        grid-row-end:3;
        align-self: auto;
    }
  
  .c-title-icon-text{
      grid-column-start:2;
      grid-column-end:3;
      grid-row-start: 2;
      grid-row-end:2;
      justify-content: center;
      align-self: center;
      margin:0
  
  }
  
  .c-text{
      grid-column-start:2;
      grid-column-end:3;
      grid-row-start: 3;
      grid-row-end:3;
  }
  
  .c-email{
      grid-column-start:2;
      grid-column-end:3;
      grid-row-start: 4;
      grid-row-end:4;
  
      align-self: center;
  } 
    .c-pokeball{
        height:var(--global-baseline-x120);
        width:var(--global-baseline-x120);
    }
  
  /*==================================== TITLE: TEXT ==================================*/
  
    .c-title-text{
        font-size: calc(var(--global-fz-md)*3);

        margin-left:calc(var(--global-whitespace-sm)*3);
        align-self: center;
    }

  /*===================================== BODY: TEXT ===================================*/
  
  .c-text-mb{
      margin-bottom:var(--global-whitespace-lg);
  }
  
  .c-white-text-lg{
      font-size: var(--global-fz-lg);
      line-height: calc(var(--global-baseline-x15)*3)
  }
  
  .c-cyan-text-sm{
      font-size: var(--global-fz-md);
      line-height: var(--global-baseline-x30);
  }
  
  .c-white-text-sm{
      font-size: var(--global-fz-md);
      line-height: var(--global-baseline-x30);
  }

  
  /*================================== BODY: EMAIL INPUT===============================*/
  .c-input{
    font-size: var(--global-fz-md);
    width: 48rem;
}
    
  .c-label-email{
      font-size: var(--global-fz-md);
  }
  
  .o-layout-email-input{
      display: block;
      width:32rem;
      height: var(--global-baseline-x60);
      margin-bottom: var(--global-whitespace-lg);
      padding: var(--global-whitespace-md); 
  }
  
  
  /* FLOATING LABEL*/
  
  .c-label-floating {
      top:calc(var(--global-baseline-x10)*1);
      padding: var(--global-whitespace-xs) var(--global-whitespace-md);
    }
  
  .c-form-field:focus-within .c-label-floating,
  .c-label-floating.is-floating {
    transform: translateY(-3rem);
  }
  
  
  /*================================ BODY: EMAIL BUTTON=================================*/
  
  .c-button {
      font-size: 1rem;
  }


  .o-layout-button_email{
      padding:calc(var(--global-whitespace-sm)*1.5) var(--global-whitespace-lg);
      border-radius: 3rem;
  }

  
 
}

/*#endregion Landingpage */

  










